{{> header }}

{{!-- <div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Travel Tracker</h1>
        <p class="lead">Log your travels and adventures here.</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/register" role="button">Sign Up</a>
        <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
    </div>
</div> --}}

<div class="jumbotron jumbotron-fluid" class="jumbotron">
    
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="middleLogo"><img src="https://i.imgur.com/OtiE6gS.png"></div>
                    <h2>Track where you've been, <br>
                        read about where you'll go.</h2>
                    <a href="/register"><button type="button" class="btn btn-primary" id="signUp">Sign Up</button></a>
                </div>
            </div>
        </div>
    </div>