{{> header }}

<div class="jumbotron">
    <h1 class="display-4">Travel Tracker</h1>
    <p class="lead">Log your travels and adventures here.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/register" role="button">Sign Up</a>
    <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
</div>