.jumbotron {
    text-align: center;
    width: 100%;
    background-image: url("https://giphy.com/gifs/gIT45dul22vrHhv5J4");
    background-repeat: no-repeat;
    margin-bottom: 0px;
}
.title {
    text-align: middle;
}

.signIn {
  margin-left: 0;
  padding-left: 0;
}