* {
  font-family: 'Montserrat', sans-serif;
}

body {
	background-color: #173042;
  }

.section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
}

#navbar {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  background-color: #173042;
  padding: 15px;
  z-index: 1;
}

.spacer {
  width: 50%;
}

#titleTravel {
  height: 15%;
  width: 15%; 
  align-content: flex-start;
  opacity: 1.0;
 }

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: lightblue;
  width: 100%;
  height: 100vh;
  opacity: 0.3;
}

.title {
  text-align: middle;
}

h1 {
color: white;
text-shadow: 2px 2px #173042;
margin-bottom: 20px;
margin-top: 20px;
}

.middleLogo {
  z-index: 1;
}

h2 {
  color: white;
  text-shadow: 2px 2px #173042;
  margin-bottom: 20px;
  margin-top: 20px;
  z-index: 1;
  }

.signIn {
margin-left: 0;
padding-left: 0;
opacity: 1;
}

#signUp {
background-color: #236477;
border: none;
color: white;
text-align: center;
text-decoration: bold;
font-size: 24px;
height: 50px;
transition: .10s;
padding-left: 10px;
padding-right: 10px;
z-index: 1;
}

#signIn {
background-color: #173042;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: bold;
display: inline-block;
font-size: 24px;
transition: .10s;
}

#signUp:hover {
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
border-radius: 10px;
}

#signIn:hover {
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


