* {
  padding: 0;
  margin: 0;
}

body {
  /* background: #cfdfda; */
  background: rgb(255, 255, 255);
}

a {
  color: white;
}

a:hover {
  color: white;
  text-decoration: none;
}

.container {
  margin-top: 7em;
  margin-bottom: 6em;
}

#title {
  width: auto
}

.spacer {
  width: 50%;
}

.wrapper {
  background: url('../images/bg8.jpg') no-repeat center center fixed / cover;
  height: 100vh;
  width: 100%;
  padding: 1.3rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jumbotron {
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background: none;
  width: 40em;
}  


.login-form {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 400px;
}

.card {
  background: #cfdfda;
}

.tripcard {
  float: left;
  margin-right: 3em;
  margin-left: 3em;
  margin-top: 1em;
  margin-bottom: 2em;
  box-shadow: 10px 10px 5px grey;
  border: none;
}

.tripcard a {
  color: black;
}

.card-img-top {
  height: 18em;
  /* width: 20em; */
}

#card-title {
  font-size: 30px;
  background: #236477;
  color: white;
  padding-left: 20px;
}

#card-body {
  /* background: #cfdfda; */
  background: none;
  padding-top: 5px;
}


#trip-header {
  margin-left: 2em;
}

#add-trip {
  float: right;
  margin-right: 4em;
}

.entries {
  /* width: 50em; */
  margin-left: 10em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.entry-main {
  text-align: center;
}

#entry-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 75%; */
  /* height: 75%; */
}

#entry-name {
  background: #236477;
  color: white;
}

#delete-entry {
  float: right;
}

/* .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #7cad3e !important;
} */

#edit-button {
  margin-right: 1em;
}

#edit-button:hover {
  color: #7cad3e; 
}

#delete-button:hover {
  color: #7cad3e; 
}

#sign-up {
  box-shadow: 5px 7px 6px rgb(44, 44, 44);
}

.btn:focus {
  border-color: #7cad3e;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(130, 219, 13);
}

.btn {
  background: #7cad3e;
  border: none;
  color: white;
  border:1px solid #7cad3e;
}

.btn:hover {
  background: #67ac0e;
  color: white;
  border:1px solid #cfdfda;
}

.btn:active {
  background: #b6fc5c;
  color: white;
  border:1px solid #cfdfda;
}

.btn:visited {
  background: #7cad3e;
  border: none;
  color: white;
  border:1px solid #7cad3e;
}


header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 65px; */
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
  background-color: rgba(23,48,66, 0.9); 
  /* background: #173042; */
  color: white;
}

header a {
  color: white;
}

header a:hover {
  color: #7cad3e;
  text-decoration: none;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav li {
  margin: 0 1rem;
}


  
/* Tablets */
@media (max-width: 800px) {

  header {
    flex-direction: column;
    padding: 0.3rem !important;
  }

}

/* Smartphones */
@media (max-width: 500px) {

  header nav li {
    margin: 0 10px;
  }

}